.parent {
  width: calc(100% - (40px + 12vw));
  height: 36px;
  background-color: var(--tabs-bg);
  border: 1px solid var(--tab-border);
  position: fixed;
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
}

.iconContainer {
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trashIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
