.parent {
  min-width: 40px;
  height: 100%;
  background-color: var(--sidebar-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topIconContainer {
  padding-top: 10px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomIconContainer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  cursor: pointer;
  width: 100%;
  border-left: 2px solid transparent;
}

.iconContainer.active {
  border-left: 2px solid var(--accent-color);
}

.iconContainer:hover {
  background: var(--sidebar-hover-bg);
}

.icon {
  height: 48px;
  width: 48px;
  padding: 0.65rem 0;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--sidebar-hover-bg);
}
