.parent {
  width: 18vw;
  height: 100%;
  color: rgb(225, 228, 232);
  background-color: var(--explorer-bg);
  border-right: 1px solid var(--explorer-border);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.75rem;
}

.title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
  height: fit-content;
}

.container {
  height: 100%;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  height: fit-content;
  cursor: pointer;
}

.dropdownTitle {
  margin-left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.itemsContent {
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: height ease 0.3s;
}

.itemsContent.show {
  height: 200px;
}

.itemContainer {
  text-decoration: none;
  height: 20px;
  width: 100%;
  margin: 6px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.itemContainer:hover {
  background-color: var(--explorer-hover-bg);
}

.itemName {
  margin-left: 8px;
  font-weight: 300;
  color: white;
}
