.bodyWrapper {
  width: 100%;
  height: calc(100% - 53px);
  display: flex;
  align-items: center;
}

.children {
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.childrenWrapper {
  margin-top: 36px;
  padding: 10px;
}
